#app {
    text-align: center;
}

main {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
}

.score {
    position: fixed;
    top: 10px;
    left: 10px;
    text-align: left;
}

.infected-label {
    color: red;
}

.simulation-window canvas {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.infected-no-symptoms-label {
    color: rgb(255, 115, 0);
}

.healthy-label {
    color: green;
}

.recovered-label {
    color: blue;
}

.dead-label {
    color: black;
}
