body {
    font-family: "Inter", sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#app {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.score {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.label {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}

.infected-label {
    color: red;
}

#simulation-window canvas {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.infected-no-symptoms-label {
    color: rgb(255, 115, 0);
}

.healthy-label {
    color: green;
}

.recovered-label {
    color: blue;
}

.dead-label {
    color: black;
}

.button {
    font-size: 1.2rem;
    padding: 0.5em;
}

.controls {
    padding: 0.5em;
}